@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700");
body {
  font-family: "Roboto", sans-serif;
  background: #0f0f0f;
  color: white;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


 .panel {
  flex-shrink: 0;
  width: 20em;
  height: 33.75em;
  outline: 0.25em solid rgba(26, 97, 203, 0);
  transition: 500ms;
  position: relative;
}
 .panel:not(:last-child) {
  margin-right: 1.5em;
}
 .panel .background:after,
 .panel .text > * {
  transition: transform 200ms, opacity 200ms;
}
 .panel .background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 100ms;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
 .panel .background:before,  .panel .background:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
 .panel .background:before {
  opacity: 0;
}
 .panel .background:after {
  opacity: 0.4;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(23, 86, 181, 0.6) 70%, #04152f 100%);
}
 .panel .text {
  cursor: default;
  position: absolute;
  left: 1em;
  right: 1em;
  bottom: -2.5em;
}
 .panel .text .location {
  font-weight: 100;
  font-size: 1em;
  margin-bottom: 1em;
}
 .panel .text .title {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 0.5em;
}
 .panel .text .author {
  font-weight: 400;
  font-size: 1.25em;
  margin-bottom: 1em;
}
 .panel .text .link {
  display: inline-block;
  padding: 0.375em 0.5em;
  background: #1a61cb;
  text-align: center;
  opacity: 0;
}
 .panel.hover,  .panel:hover {
  outline: 0.875em solid #1a61cb;
  transition: 300ms;
}
 .panel.hover .background,  .panel:hover .background {
  transition: 125ms;
  top: -0.5em;
  left: -0.5em;
  right: -0.5em;
  bottom: -0.5em;
}
 .panel.hover .background:after,  .panel:hover .background:after {
  opacity: 1;
}
 .panel.hover .text > *,  .panel:hover .text > * {
  transform: translate3d(0, -3.5rem, 0);
}
 .panel.hover .text .location,  .panel:hover .text .location {
  transition-delay: 0ms;
}
 .panel.hover .text .title,  .panel:hover .text .title {
  transition-delay: 60ms;
}
 .panel.hover .text .author,  .panel:hover .text .author {
  transition-delay: 110ms;
}
 .panel.hover .text .link,  .panel:hover .text .link {
  opacity: 1;
  transition-delay: 150ms;
}